<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta>
<title>Contratação</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/table-to-json@1.0.0/lib/jquery.tabletojson.min.js"
	integrity="sha256-H8xrCe0tZFi/C2CgxkmiGksqVaxhW0PFcUKZJZo1yNU="
	crossorigin="anonymous"></script>


<script type="text/javascript" th:src="@{/pessoa.js}"></script>

</head>
<body>
	<header>
		<!-- As a link -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">

			<div class="container-fluid">

				<a class="navbar-brand" href="#">Contratação</a>

			</div>
		</nav>
	</header>
	
	<!-- ======================== INICIO CADASTRO DE CANDIDATOS ===================================-->

	<div class="form-group">
		<div class="row">
			<div class="col-md-4">
				<form class="row needs-validation" onsubmit="return false"
					novalidate style="padding-right: 5px; padding-left: 20px">
					<!-- Formulario de cadastros de candidatos -->

					<div class="card">

						<div class="card-body" style="padding-bottom: 15px">

							<div class="card-header" align="center">
								<label>Cadastrar Novo Candidato</label>
							</div>

							<div class="form-group" id="myForm" style="padding-top: 15px">

								<div style="padding-bottom: 7px">
									<input type="text" class="form-control" id="inputNome"
										name="nome" placeholder="Primeiro nome *" required
										maxlength="20">
								</div>

								<div style="padding-bottom: 7px">
									<input type="text" class="form-control" id="inputSobreNome"
										name="sobrenome" placeholder="Sobrenome *" required
										maxlength="50">
								</div>

								<div style="padding-bottom: 7px">
									<input type="text" class="form-control" id="inputCpf"
										name="cpf" placeholder="CPF *" required
										onkeypress="$(this).mask('000.000.000-00');">
								</div>

								<div style="padding-bottom: 7px">
									<label>Data de Nascimento: <input type="date"
										class="form-control"
										th:value="${#calendars.format(dataNascimento,'dd-MMM-yyyy')}"
										id="inputData" name="dataNascimento"
										placeholder="Data nascimento *" required></label>

								</div>

								<small class="form-text text-muted">(*) Campos
									obrigatórios</small>
								<div>
									<hr>
								</div>

								<div class="col-12">
									<button onclick="insertForm()" type="submit"
										class="btn btn-success">
										Inserir na Tabela <i class="glyphicon glyphicon-arrow-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>

				</form>
				<!--  Fim do formulario de cadastros do candidatos -->
			</div>


			<div class="col">
				<form method="post" style="padding-right: 15px; padding-left: 0px">
					<!-- Inicio da tabela de candidatos -->
					<div>
						<table id="dtable"
							class="table table-bordered table-responsive table table-hover"
							cellspacing="0" width="900">

							<thead class="table table-dark">
								<tr>
									<th>Nome</th>
									<th>Sobrenome</th>
									<th width="120">CPF</th>
									<th width="120">Data</th>
									<th width="90">Editar</th>
								</tr>
							</thead>
							<tbody>
							</tbody>

							<!--	 ===========================Rodapé da tabela================= -->

							<caption>
								<button type="submit" id="convert-table" class="btn btn-success">Salvar</button>
							</caption>
						</table>
					</div>
				</form>
				<!-- Fim da tabela de candidatos -->
			</div>
		</div>
	</div>


	<!-- ======================== INICIO DO DATABASE DE CLIENTES ================================== -->

	<div class="container">
		<div class="row">
			<h2 class="text-center">Candidatos cadastrados</h2>
		</div>

		<div class="row">
			<div class="col-md-12">

				<table id="datatable"
					class="table table-bordered table-responsive table table-hover"
					cellspacing="0" width="100%">

					<caption>Contratação</caption>

					<thead class="table table-dark">
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Sobrenome</th>
							<th>CPF</th>
							<th>Data Nascimento</th>
							<th>Idade</th>
							<th>Maior Idade</th>
							<th width="130">Editar</th>

						</tr>
					</thead>

					<tr th:each="pessoa : ${pessoa}">
						<th th:text="${pessoa.id_pessoa}">ID</th>
						<th th:text="${pessoa.nome}">Nome</th>
						<th th:text="${pessoa.sobrenome}">Sobrenome</th>
						<th th:text="${pessoa.cpf}">CPF</th>
						<th
							th:text="${#calendars.format(pessoa.dataNascimento,'dd-MMM-yyyy')}">Data
							Nascimento</th>
						<th th:text="${pessoa.idade} + ' anos'">Idade</th>
						<th th:text="${pessoa.maiorIdade}">Maior-Idade</th>


						<th>
							<button type="button" onclick=""
								class="btn btn-primary btn btn-primary btn-sm">
								<i class="glyphicon glyphicon-eye-open"></i>
							</button>
							<button type="button" onclick=""
								class="btn btn-warning btn btn-primary btn-sm">
								<i class="glyphicon glyphicon-edit"></i>
							</button>
							<button type="button" onclick=""
								class="btn btn-danger btn btn-primary btn-sm">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</th>
					</tr>
					<tfoot>
						<!--	 ===========================Rodapé da tabela================= -->
					</tfoot>
				</table>
			</div>
		</div>
	</div>



	<!-- ================================================================================================ -->


	<script type="text/javascript">
//Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

</script>

	<script type="text/javascript">
$('#convert-table').click(function() {
	 var table = $('#dtable').tableToJSON(); // Convert the table into a javascript object
	 if(table == "" || table == null){
		 alert('Não há linhas na tabela')
		 return false;
		 }else{
			 $.ajax({
			      url: "/api/pessoa",
			      type: "POST",
			      data: {meusDados:dados},
			      dataType: "json"
			  }).done(function (response) {
			      console.log(response);
			      if (response.success) {    

			       setTimeout(() => {

			          alert ('Sucesso ao Cadastrar o Checklist de Protocolos');
			            window.location.reload();
			        }, 500);
			      }
			      else {
			        alert("Erro ao Cadastrar o Checklist de Protocolos");
			      }   
			  }).fail(function (response) {

			        alert ("Erro ao Cadastrar o Checklist de Protocolos");
			  });
			  return false;

			 console.log(table);
			 alert(JSON.stringify(table));
		 }
	 });

</script>



	<!-- ================================================================================================= -->




	<div>
		<form method="post">

			<div class="form-group">

				<input type="text" class="form-control" id="inputNome" name="nome"
					placeholder="Primeiro nome *" aria-describedby="inputGroupPrepend"
					required> 
					
				<input type="text" class="form-control"
					id="inputSobreNome" name="sobrenome" placeholder="Sobrenome *">

				<input type="text" class="form-control" id="inputCpf" name="cpf"
					placeholder="CPF *" onkeypress="$(this).mask('000.000.000-00');">

				<input type="date" class="form-control"
					th:value="${#calendars.format(dataNascimento,'dd-MMM-yyyy')}"
					id="inputData" name="dataNascimento"
					placeholder="Data nascimento *"> <small
					class="form-text text-muted">(*) Campos obrigatórios</small>

				<hr>

				<button type="submit" class="btn btn-success">Salvar</button>

			</div>
		</form>
	</div>
</body>
</html>